body {
    font-family: arial, sans-serif;
}
* {
    margin: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
.zrada {
    letter-spacing: 14px;
    display: flex;
    justify-content: center;
    font-size: 46px;
}
.main {
    width: 1400px;
    height: 779px;
    background-image: url(img/background.png);
    margin: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 5px;
}
.flex-text {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.main-text, .main-mid {
    text-align: center;
    padding-top: 250px;
    font-size: 60px;
}

.main-mid {
    font-size: 20px;
    padding-top: 25px;
}

.btn-anchor {
    margin: 60px 42.5%;
    background: url(img/rainbow.png);
    background-size: cover;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 20px;
}

.conteiner-about {
    width: 1000px;
    margin: auto;
    text-align: center;
}

.title {
    font-size: 30px;
    padding: 50px 0px;
}
.about {
    font-size: 17px;
    padding: 0px 0px 100px 0px;
}

.links {
    width: 1400px;
    height: 779px;
    background-color: #f4f4f4;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

.title-links, .txt-links {
    padding: 30px 0px 30px 0px;
    font-size: 28px;
}
.txt-links {
    font-size: 18px;
}

.flex-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.block {
    color: black;
    margin: 60px 15px 0px 15px;
    width: 300px;
    height: 250px;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.3s;
}
.block:hover {
    transform: scale(1.1);
}
.icon {
    padding-top: 30px;
    width: 90px;
    height: 75px;
}
.name1 {
    font-size: 20px;
}
.name1, .name2 {
    padding-top: 30px;
}

footer {
    padding: 40px 0px 40px 0px;
    color: black;
    text-align: center;
}
.a {
    color: #500095;
}


@media screen and (max-width: 1000px) {

    body {
        overflow-x: hidden;
    }

    .zrada {
        width: 100%;
        font-size: 96px;
    }

    .main {
        width: 100%;
        height: 2100px;
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }
    .main-text, .main-mid {
        text-align: center;
        padding-top: 450px;
        font-size: 120px;
    }

    .main-mid {
        font-size: 60px;
        padding-top: 225px;
    }

    .btn-anchor {
        margin: 260px 18%;
        border-radius: 15px;
        padding: 60px 108px;
        font-size: 60px;
    }

    .conteiner-about {
        width: 110%;
        margin: auto;
        text-align: center;
    }

    .title {
        font-size: 60px;
        padding: 50px 0px 100px 0px;
    }
    .about {
        font-size: 40px;
        padding: 0px 0px 100px 0px;
        text-align: left;
    }

    .links {
        width: 100%;
        height: 2000px;
        flex-direction: column;
    }
    .title-links, .txt-links {
        padding: 30px 0px 30px 0px;
        font-size: 55px;
    }
    .txt-links {
        font-size: 40px;
    }

    .flex-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .block {
        color: black;
        margin: 60px 15px 0px 225px;
        width: 600px;
        height: 500px;
        background-color: #fff;
        border-radius: 25px;
        overflow: hidden;
        transition: 0.3s;
    }

    .icon {
        padding-top: 30px;
        width: 180px;
        height: 150px;
    }
    .name1, .name2 {
        font-size: 30px;
        padding-top: 30px;

    }
    .name1 {
        font-size: 50px;
    }

    footer {
        font-size: 40px;
    }

    .conteiner-about {
        width: 100%;
    }
    footer {
        width: 100%;
    }

}







