body {
	margin: 0;
	margin: auto;
	width: 1400px;
	height: 2000px;
	background-color: white;
	font-family: arial;
}
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none
}
.page {
}
.header {
	text-align: center;
	width: 1400px;
	height: 50px;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 50px;
}
.start {
	background: url(background.png) no-repeat;
	width: 1400px;
	height: 700px;
	size: cover;
}
.p1, .p2 {
	color: white;
	text-align: center;
	padding-top: 250px;
	font-size: 60px;
}
.p2 {
	font-size: 20px;
	padding-top: 45px;
} 
.linkss {
	font-size: 22px;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
	padding-top: 15px;
	padding-bottom: 13px;
	background-color: #293132;
	text-align: center;
	color: white;
	border-radius: 5px;
	margin-top: 100px; 
	margin-left: 590px; 
	width: 220px;
	height: 30px;

	background: url(rainbow.png) no-repeat;
	background-size: 220px 57px;
}
.title, .l {
	background-color: white;
	font-size: 30px;
	float: center;
	margin: auto;
	width: 122px;
	height: 35px;
	margin-top: 70px;
}
.info, .order {
	background-color: white;
	font-size: 18px;
	float: center;
	margin: auto;
	width: 994px;
	height: 125px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 70px;
}
.hyperlinks {
	background-color: #e4fdf9;
	width: 1400px;
	height: 720px;
}

.l {
	background-color: #e4fdf9;
	padding-top: 20px;
}
.order {
	background-color: #e4fdf9;
	height: 25px;
}

.block, .block2, .block3 {
	width: 300px;
	height: 250px;
	background-color: white;
	margin-left: 210px;
	float: left;
	border-radius: 20px;
}
.block:hover, .block2:hover, .block3:hover {
	box-shadow: 1px 1px 10px 1px black; 
}
.block2 {
	margin-left: 30px;
}
.block3 {
	margin-left: 30px;
}
.icon, .icon2, .icon3 {
	width: 90px;
	height: 75px;
	margin-left: 35%;
	margin-top: 30px;
}
.name1, .name12, .name13 {
	text-align: center;
	font-size: 20px;
	margin-top: 20px; 
}
.name2, .name22, .name23 {
	text-align: center;
	margin-top: 30px;
	font-size: 15px;
}
.footter {
	text-align: center;
	margin-top: 80px;
}
